.flex {
  display: flex;
}
.flex-dir-col{
  flex-direction: column;
}
.justy-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.instructions li{
  list-style:inside;
  color: white;

}