*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.flex-dir-col{
  flex-direction: column;
}
.justy-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}

.app-container {
  height: 100%;
  padding: 2rem;
}

.navigation {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: url('./assets/Picsart_25-10-27_14-32-32-593.jpg')center/cover no-repeat;
}
.navigation h1 {
  text-align: center;
  color: #ffffff;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  padding: 0.75rem 1.5rem;
  background: #4689bf71;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav-link:hover {
  background: #00011D;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page-container {
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.page-title {
  color: #fffcfc;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
}

.instructions {
  border-left: 0.2rem solid #4689BF;
  padding: 1rem;
  margin-bottom: 2rem;
}

.instructions h3 {
  color: #4689BF;
  margin-bottom: 0.5rem;
}

.instructions ul {
  color: #00011D;
}

.instructions li {
  margin-bottom: 0.5rem;
}

button {
  background: #4689BF;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background: #00011D;
  transform: translateY(-2px);
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
  transform: none;
}

input {
  font-size: 1rem;
  transition: border-color 0.3s ease;
  color: #4689BF;
 
}
input:focus {
  outline: none;
  border-color: #4689BF;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th,
table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background: #f8f9fa;
  color: #00011D;
  font-weight: 600;
}

table tr:hover {
  background: #f8f9fa;
}

@media (min-width: 768px) and (max-width: 1024px){
  .app-container {
  padding: 4rem;
  }
  .navigation h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.nav-link{
  font-size: 1.2rem;
  padding: 1.5rem;
}
.page-title{
  font-size: 1.7rem;
}
.instructions{
  font-size: 1.2rem;
  padding: 1.7rem;
  margin-bottom: 4rem;
}
button{
  padding:1.2rem 1.7rem;
  font-size: 1.5rem;
}
input{
  font-size: 1.2rem;
}
}

@media (min-width: 1024px){
  .app-container {
  padding: 8rem;
  }
  .navigation h1 {
  font-size: 2.5rem;
  margin-bottom: 2.2rem;
}
.nav-link{
  font-size: 1.5rem;
  padding: 1.7rem;
}
.page-title{
  font-size: 2rem;
}
.instructions{
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: 5rem;
}
}